# Ambiente virtual
venv/
env/
ENV/

# Arquivos temporários
temp/
*.tmp
*.temp

# Arquivos de cache Python
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Arquivos de IDE
.idea/
.vscode/
*.swp
*.swo

# Arquivos de sistema
.DS_Store
Thumbs.db

# Arquivos de log
*.log

# Arquivos gerados
static/logo.png
static/favicon.ico 